includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 2
    strictRules:
        disallowedLooseComparison: true
        booleansInConditions: false
        uselessCast: true
        requireParentConstructorCall: true
        overwriteVariablesWithLoop: true
        closureUsesThis: true
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        switchConditionsMatchingType: true
        noVariableVariables: true
    tmpDir: ../../var/cache/.phpstain_cache
    paths:
        - ../../bin
        - ../../bootstraps
        - ../../config
        - ../../contracts
        - ../../models
        - ../../modules
        - ../../services
    excludePaths:
        analyse:
            - ../../vendor
            - ./ecs.php
    scanFiles:
        - ../../vendor/yiisoft/yii2/Yii.php
    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
